*.so
*.pyc
*.tar
output
tensorboard
lib/build
lib/pycocotools
lib/pycocotools/_mask.c
lib/pycocotools/_mask.so
.idea
VOCdevkit*
plasticbag_dataset.zip
plasticbag_dataset/annotations
plasticbag_dataset/images
data/demo*